.render-Html{
  strong{
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* or 16px */

    display: flex;
    align-items: center;
    text-align: right;

    color: #373737;
  }


}

/* Customize the label (the container) */
.container-checkBox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 30px;
}

/* Hide the browser's default checkbox */
.container-checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-checkBox  input ~ .checkmark {
  border: 2px solid #7B7B7B;
  border-radius: 4px;
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-checkBox input:checked ~ .checkmark {
  border: 2px solid #00C853;
  border-radius: 4px;
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10px;
  height: 14px;
  border: solid #00C853;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}